.splash-page-container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    align-items: center;
    background-image: url("../../images/preview16.jpeg");
    /* background-size: 100px 100px; */
    background-size: cover;
    background-repeat: no-repeat;
}

.fish {
    background-image: url("../../images/fish.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 800px;
    height: 300px;
    /* position: absolute; */
    /* bottom: 0;
    left: 0;
    z-index: 10; */
}

.title {
    font-size: 2.5em;
    white-space: nowrap;
    overflow-x: visible;
}


.title-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75%;
    margin-bottom: 40px;
}

.subtitle-1 {
    text-align: right;
    font-size: 1.7em;
    font-weight: 400;
    width: 110%;
    /* margin-bottom: 10px; */
}

.subtitle-2 {
    text-align: start;
    font-size: 1.7em;
    font-weight: 400;
    width: 100%;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow-x: visible;
}

.subtitle-line-2 {
    display: flex;
    flex-direction: row;
}

.splash-action {
    margin-top: 50px;
    font-size: 30px;
    width: 45%;

}

.hidden-map {
    display: none;
}

.create-catch-icon {
    font-size: 150px;
    color: salmon;
    border: black;
}

.create-catch-icon:hover {
    font-size: 153px;
    color: salmon;
    border: black;
}

.splash-actions {
    display: flex;
    flex-direction: row;
    gap: 40px;
    /* justify-content: center; */
    align-items: center;
}

.search-input.splash-item {
    width: 500px;
    height: 80px;
    border: none;
    font-size: 28px;
}

@media screen and (max-height: 800px) and (max-width: 1200px) {

    .splash-page-container {
        background-size: 1200px 1600px;
     }


}


@media screen and (min-width: 1450px) {

    .title-heading {
        gap: 20px;
    }

    .title {
        font-size: 4em;
    }

    .subtitle-1 {
        font-size: 2.2em;
        /* font-weight: 400;
        width: 110%; */
        /* margin-bottom: 10px; */
    }

    .subtitle-2 {
        font-size: 2.2em;
    }


}

@media screen and (max-width: 1449px) and (min-width: 1100px) {

    .title-heading {
        gap: 15px;
    }

    .title {
        font-size: 3.4em;
    }

    .subtitle-1 {
        font-size: 1.7em;
    }

    .subtitle-2 {
        font-size: 1.7em;
    }


}

@media screen and (max-width: 1099px) {

    .title-heading {
        gap: 15px;
    }

    .title {
        font-size: 2em;
    }

    .subtitle-1 {
        font-size: 1.4em;
    }

    .subtitle-2 {
        font-size: 1.4em;
    }


}