.display-catch-container {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

.modal-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* max-height: 300px; */
}

.display-catch-left {
    display: flex;
    gap: 2px;
    flex-direction: column;
    width: 50%;
    overflow-y: scroll;
}

.display-catch-left > * {
    margin-bottom: 5px;
}

.display-catch-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.details-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    /* gap: px; */
}

.details-left {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.details-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.fish-name {
    margin-top: 10px;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: .08em;
    text-align: center;
    width: 100%;
}

.indivCatch-picture {
    width: 100%;
    height: 100%;
    object-fit: cover; /*magic*/
}

.same-line-description {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 3px;
    /* justify-content: center; */
}

.user-img-token {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    object-fit: contain;
}

.user-line {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.username-display {
    font-size: 18px;
    font-weight: 700;
}

.section-header {
    font-size: 40px;
    text-align: center;
}

.line-header {
    font-size: 18px;
    font-weight: 500;
}

.sub-section-block {
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 2px 2px rgba(22, 22, 22, 0.327);
    padding: 5px;
    margin-right: 1px;
}

.weather-img {
    margin: 0;
    padding: 0;
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 1080px) {
    .details-container {
        flex-direction: column;
    }

    .same-line-description {
        display: flex;
        align-items: center;
        gap: 15px;
        width: 200px;
    }
}
