.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: black 3px solid;
}

.footer-main {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 20px;
    padding-bottom: 40px;
    justify-content: center;
    gap: 150px;
    background-color: rgb(202, 202, 198);
    align-items: center;
    padding: 15px 0px;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 5px;
    /* margin-top: 10px; */
    padding-top: 20px;
    padding-bottom: 40px;
}

.col-header {
    font-size: 18px;
    padding: 0px;
    margin: 0;
    color: black;
    border-bottom: black 1px solid;
}

.col-item {
    font-size: 18px;
    padding: 0px;
    margin: 0;
    color: black;
}

.footerlink {
    text-decoration-color: transparent;
    color: black;
    transition: all 500ms;
    padding: 0px;
    font-size: 16px;
}

.footerlink:hover {
    text-decoration-color: black;
    font-weight: bolder;
}