/* .map-container {
    display: flex;
    height: 100%;
    width: 100%;
} */

/* .map {
    width: 100%;
    height: 100%;
} */

/* .chosen-marker {
    background-color: salmon;
    fill-c
} */

.fa-solid.fa-magnifying-glass-location.search-bar-icon {
    font-size: 36px;
    margin-left: 0;
    padding-left: 0;
}