.filter-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid black;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filter-param-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    border: 3px solid #083b37;
    /* border: solid 1px black; */
    border-radius: 15px;
    padding: 10px;
}

.filters-heading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    /* justify-content: flex-start; */
    font-weight: 900;
    font-size: 20px;
    border-bottom: #083b37 2px solid;
    width: 100%;
}

.filter-param-container {
    display: flex;
    flex-direction: column;
}

.filter-container-heading {
    font-weight: 700;
}

.filter-search-bar {
    width: 100px;
}

.filterbar-label {
    display: flex;
    flex-direction: column;
}

.min-max-container {
    display: flex;
    flex-direction: row;
}

.nb-th-arrow-right {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.nb-th-arrow-right.arrow-right-turned {
    transform: rotate(90deg);
}


@media screen and (max-width: 1000px) {

    .filter-bar {
        flex-direction: column;
    }

}