.buttom-row-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttom-row-buttons-main {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


input {
    width: 100%;
    margin: 5px 0;
    padding: 10px 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid gray;
    outline: none;
}

.errors {
    border: 2px solid #D03341;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 30px 10px;
}

.errors > * {
    color: #D03341;
}

.datetime-picker {
    padding: 3px;
    padding-bottom: 8px;
}

.datetime-picker > * {
    margin: 1px;
}

.close-link:hover {
    cursor: pointer;
}