/* TODO Add site wide styles */

* {
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
}

.main-content {
    width: 60%;
    margin-bottom: 400px;
}

.catches {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 1000px;
}

.catch-card {
    width: 200px;
    border-radius: 2px;
    border: 2px solid black;
    margin: 15px;
}

.card-image {
    width: 100%;
    height: fit-content;
    object-fit: fill;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 5px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px;
    margin: 5px;
    transition: all 500ms;
    cursor: pointer;
    font-weight: 700;
}

.card-fish-name {
    display: flex;
    justify-content: center;
    font-size: 18px;
}