* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 1em;
}

a {
	text-decoration: none;
	color: unset;
}

/* ul,
li {
	list-style: none;
} */

body {
	margin: 0;
	padding: 0;
    font-family: 'Work Sans';
    /* display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%; */
}

.body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    min-width: 800px;
    overflow-x: scroll;
}
.hidden {
	display: none;
	opacity: 0;
	visibility: hidden;
}

.link {
    transition: all 500ms;
    color: black;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    font-size: 16px;
    position: relative;
    top: 1px;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 0px; */
    width: 100%;
    min-height: 98vh;
    position: relative;
}

.main-content {
    /* display: flex;
    flex-grow: 1; */
    /* padding-left: 25px; */
    width: 100%;
    height: 100%;
    /* padding-bottom: 150px; */
    /* margin-bottom: 50px; */
    /* overflow-y: scroll; */
}

.card-arc {
    display: flex;
    align-items: center;
    color: white;
    font-family: "Eina-bold";
    font-weight: 900;
    width: 5em;
    height: 2em;
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 2;
  }

.catches-container {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    background-color: rgb(245, 245, 245);
    align-items: flex-start;
    justify-content: center;
    border-top: solid 3px black;
    border-left: solid 2px black;
    border-right: solid 2px black;
    /* gap: 10px; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* width: fit-content; */
    width: fit-content;
    height: 100vh;
    /* overflow-y: scroll; */
    /* border: 2px solid black; */
    overflow-y: scroll;
    /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2); */
    padding-bottom: 100px;
    /* width: 500px; */
    /* height: 1000px; */
}

.catches-container.search-results {
    border: none;
}

.catch-card {
    /* overflow-y: scroll; */
    /* align-self: center; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #083b37 1px solid;
    /* width: 95%; */
    /* width: 250px; */
    border-radius: 5px;
    /* border: 2px solid black; */
    margin: 10px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.2);
    max-height: 400px;
    min-width: 250px;
    max-width: 350px;
    border-bottom: rgb(1, 138, 153) solid 5px;
}

.catch-card.selected {
    border: salmon solid 2px;
}

.catch-card:hover {
    cursor: pointer;
}

.card-image {
    width: 100%;
    height: fit-content;
    /* object-fit: fill; */
    min-height: 150px;
    max-height: 150px;
}

.card-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-buttons {
    display: flex;
    flex-direction: column;
}

.button {
    border-radius: 2px;
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 6px;
    margin: 5px;
    transition: all 500ms;
    cursor: pointer;
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 18px;
}


.teal {
    border: 3px solid #083b37;
    /* background-color: rgb(149, 205, 186); */
    color: #083b37;
    font-weight: 600;
}

.button.salmon {
    border: 3px solid salmon;
    /* background-color: rgb(149, 205, 186); */
    color: salmon;
    font-weight: 800;
}

.button.red {
    border: 3px solid rgb(206, 63, 47);
    /* background-color: rgb(149, 205, 186); */
    color: rgb(206, 63, 47);
    font-weight: 800;
}

.button.red:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(206, 63, 47);
    /* background-color: rgb(158, 207, 190); */
    color: rgb(206, 63, 47);
    font-weight: 900;
    /* padding: 7px; */
}

.button.edit {
    border: 3px solid rgb(229, 136, 125);
    padding: 2px;
    /* background-color: rgb(149, 205, 186); */
    color: rgb(229, 136, 125);
    font-weight: 500;
}

.button.edit:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(229, 136, 125);
    /* background-color: rgb(158, 207, 190); */
    color: rgb(229, 136, 125);
    font-weight: 600;
    padding: 5px;
}

.button.salmon:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid salmon;
    /* background-color: rgb(158, 207, 190); */
    color: salmon;
    font-weight: 900;
    padding: 6px;
}

.button.teal:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(1, 138, 153);
    /* background-color: rgb(158, 207, 190); */
    color: rgb(1, 138, 153);
    font-weight: 550;
    padding: 6px;
}

.button-splash-create {
    border: none;
    background-color: transparent;
}

.button.cancel {
    border: 3px solid rgb(123, 120, 119);
    font-weight: 800;
    padding: 6px;
    color: rgb(123, 120, 119);
}

.button.cancel:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    border: 3px solid rgb(206, 63, 47);
    /* background-color: rgb(158, 207, 190); */
    color: rgb(206, 63, 47);
    font-weight: 900;
}

.button.salmon.add-subpost {
    width: 100%;
}



.card-fish-name {
    display: flex;
    justify-content: center;
    font-size: 18px;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
}

.user-img-token {
    height: 30px;
    width: 30px;
    border-radius: 25px;
    object-fit: contain;
}

.user-line {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 2px;
    margin-bottom: 3px;
}

.username-display {
    font-size: 18px;
    font-weight: 700;
}

.my-catches-page {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

/* .catches-container {
    display: grid;
	grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    background-color: rgb(245, 245, 245);

    justify-content: center;
    /* gap: 10px; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* width: 100%;
    height: 100vh; */
    /* overflow-y: scroll; */
    /* border: 2px solid black; */
    /* overflow-x: scroll; */
    /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2); */
    /* padding-bottom: 200px; */
    /* width: 500px; */
    /* height: 1000px; */
/* }  */


.mycatches-container {
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: start; */
    gap: 0px;
    background-color: rgb(245, 245, 245);
    height: 100vh;
    border-left: black solid 2px;
    border-right: black solid 2px;
    width: 900px;

    /* overflow-y: scroll; */
    /* border: 2px solid black; */
    /* overflow-x: scroll; */
    /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2); */
    padding-bottom: 200px;
    margin-bottom: 300px;
    /* width: 500px; */
    /* height: 1000px; */
}

.my-catches-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    width: 100%;
    background-color: white;
    padding-bottom: 0px;
    margin-bottom: 0px;
    /* border-bottom: black 2px solid; */
}

.section-title.my-catches {
    border: none;
}

.share-catch {
    width:200px;
}

.search-div {
    border: black solid 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    background-color: white;
    padding-right: 15px;
    margin-top: 3px;
}

.search-div.search-page {
    border: none;
}

.fa-magnifying-glass-location {
    padding-left: 15px;
    font-size: 52px;
}

@media screen and (max-width: 1000px) {

    .catches-container {
        display: grid;
        align-items: center;
        grid-template-columns: repeat(1, 1fr);
        gap: 0px;
        background-color: rgb(253, 253, 253);
        margin-left: 50px;
        /* justify-content: center;
        align-content: center; */
        /* gap: 10px; */
        /* align-items: center; */
        /* flex-wrap: wrap; */
        width: 100%;
        /* height: 100vh; */
        /* overflow-y: scroll; */
        /* border: 2px solid black; */
        overflow-x: scroll;
        /* box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.2); */
        padding-bottom: 200px;
        /* width: 500px; */
        /* height: 1000px; */
    }

    /* .catches-container.full-page {
        grid-template-columns: repeat(2, 1fr);
    } */

    /* .mycatches-container */

}

.catches-container.full-page {
    grid-template-columns: repeat(3, 1fr);
    align-items: flex-start;
    max-width: 900px;
    height: 100vh;
}

/* .full-page {
    border-left: 1px solid #083b37;
    border-right: 1px solid #083b37;
} */

@media screen and (min-width: 1600px) {

    .catches-container {
        display: grid;
        align-items: flex-start;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
        background-color:rgb(253, 253, 253);
        width: 100%;
        height: 100vh;
        overflow-x: scroll;
        padding-bottom: 200px;
    }

}

@media screen and (max-width: 850px) {

    .button {
        font-size: 11px;
    }

}
