.search-form {
    flex-grow: 1;
}

.search-wrapper {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #2C2F33;
    border-radius: 22px;
    width: 400px;
    height: 60px;
    background-color: white;
}

.search-input:focus {
    outline: none;
}

.search-input {
    background-color: white;
    font-size: 20px;
    color: rgb(24, 39, 36);
    padding: 9px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
     border-bottom: none;
    /* border: 2px solid #2C2F33; */
    /* border-radius: 22px; */
    width: 400px;
    height: 60px;
    /* margin-top: 5px; */
    align-self: center;
    border-radius: 25px;
}

.search-input.expanded-width {
    width: 99%;
    ;
}

.search-button {
    border: none;
    background-color: white;
    color: #A589FB;
    transition: all 500ms;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    height: 100%;
    padding: 0px 10px 0px 15px;
}

.search-button:hover {
    background-color: #A589FB;
    color: white;
}

.recommended-place {
    color: salmon;
    font-weight: 700;
    font-family: 'Work';
    font-size: 18px;
}

.recommended-place:hover {
    background-color: white;
    /* border-bottom: black 1px solid; */
}


.list-item-row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

.active-community {
    color: #083b37;
    font-weight: 900;
}

.result-item {
    font-family: 'Work';
    font-size: 20px;
}

.result-item:hover {
    background-color: white;
    border-bottom: black 1px solid;
}