.create-catch-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-bottom: 250px;
    overflow-y: scroll;
}

.create-form {
    width: 50%;
    margin-right: 10px;
    min-width: 400px;
    box-shadow: 10px 0px 10px 1px #0000006c;
}

.location-select {
    width: 50%;
}



/* @media screen and (max-width: 1000px) {

    create-form
} */